@import '../../../styles/app';

.root {
  :global {
    /**      LIST GROUP SORTABLE      **/

    .list-group-sortable {
      > .list-group-item {
        margin-bottom: 0;
        border-radius: $border-radius;

        + .list-group-item {
          margin-top: $line-height-computed/2;
        }
      }

      > .list-group-item-placeholder {
        border: 1px dashed $gray-light;
        background-color: $gray-semi-lighter;
      }

      &:last-of-type > .list-group-item:last-child {
        border-bottom: 1px solid $list-group-border-color;
      }
    }
  }
}

.nestable {
  min-height: 600px;
}
