@import '../../../styles/app';

.headerLink {
  a {
    display: block;
    color: $sidebar-color;
    text-decoration: none;
    cursor: pointer;
  }

  &:last-child > a {
    border-bottom: 1px solid $sidebar-item-border-color;
  }

  > a {
    position: relative;
    padding-left: 15px;
    line-height: 35px;
    border-top: 1px solid $sidebar-item-border-color;

    &:hover {
      background-color: $sidebar-item-hover-bg-color;
    }

    > i {
      margin-right: 7px;
    }
  }
}

.caret {
  float: right;
  margin-top: 20px;
  margin-right: 15px;
}

a.headerLinkActive {
  color: $sidebar-item-active-color;
}

.panel {
  border: none;
  box-shadow: none;
  margin: 0;
  border-radius: 0;
  background: rgba(#000, 0.1);

  div {
    padding: 0;
  }

  ul {
    padding-left: 0;
    font-size: $font-size-sm;

    li {
      padding: 3px 0;
      list-style: none;
    }

    a {
      padding: 4px 20px 4px 36px;
    }
  }
}
