.slider {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;

  & :global .product-card {
    margin-bottom: 0;
  }
}

.sliderItem {
  width: 25%;
  padding: 0 10px;
}

.slick {
  & :global .slick-track {
    display: flex;
  }
}

