.page-title {
  margin: 0 0 calc(1rem + 6px);
}

.input-group.focus {
  .input-group-addon,
  input {
    background-color: #f1f1f1;
  }
}

.animated {
  animation-duration: 0.5s;
}

.chat-notification-sing {
  position: absolute;
  top: 14px;
  right: 39px;
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #dd5826;
}

#chat-sidebar-user-group {
  .list-group-item.active h6 {
    color: $brand-warning;
    font-weight: $badge-font-weight;
  }

  .badge {
    margin-left: auto;
    padding: 3px 5px;
  }
}
