.page-title {
  margin: 0 0 calc(1rem + 6px);
}

.input-group.focus {
  .input-group-addon,
  input {
    background-color: #f1f1f1;
  }
}

.animated {
  animation-duration: 0.5s;
}

.chat-notification-sing {
  position: absolute;
  top: 16px;
  left: 9px;
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #dd5826;
}

#notification-buttons {
  display: flex;

  button {
    flex: 1;
    font-family: $font-family-base;
    font-size: 0.875rem;
    background-color: #f8f8f8;

    &.active {
      color: #343434;
      background-color: #dfdfdf;
      background-image: none;
      border-color: #adadad;
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.12);
    }
  }
}

.btn-toolbar .btn {
  margin-left: 0.5rem;
}
