html {
  font-weight: 100;
  font-size: $font-size-root;
}

body {
  overflow-x: hidden;
  color: $text-color;
}

html,
body,
#app {
  height: 100%;
}

a,
.dropdown-item,
.btn {
  cursor: pointer;
  transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out, border-color 0.1s ease-in-out;
}

th {
  font-weight: 600;
}

label {
  font-weight: 600;
}

strong {
  font-weight: 700;
}
