.container-fluid {
  padding-left: 30px;
  padding-right: 30px;
}

.navbar {
  border: none;
}

.progress-bar {
  @include box-shadow(none);
}

.progress-sm {
  height: 10px;
  margin-bottom: 10px;
}

.progress-xs {
  height: 5px;
  margin-bottom: 5px;
}

.form-control {
  font-family: $font-family-base;
  box-shadow: none;
  transition: border-color ease-in-out 0.15s, background-color ease-in-out 0.15s;

  &:focus {
    box-shadow: none;
  }

  &.no-border {
    border: none;
    background-color: darken($input-bg, 5%);

    &:focus {
      background-color: darken($input-bg, 7%);
    }
  }
}

.input-sm {
  font-size: 13px;
}

.alert {
  font-size: $font-size-sm;

  .close {
    color: rgba(#000, 0.4);
  }
}

.alert-sm {
  padding: 10px 15px;

  .close {
    font-size: 20px;
    top: 0;
    right: -8px;
  }
}

/*  Badge */
// Add colors for badges

.badge-success,
.badge-info,
.badge-warning,
.badge-danger {
  color: $white;
}

.badge-white {
  @include badge-variant($white);
}

.badge-default {
  @include badge-variant($gray-600);
}

.badge {
  font-size: 0.875rem;

  &.badge-pill {
    font-size: 100%;
    padding: 0.4em 0.6em;
    font-weight: 700;
  }

  .list-group-item > & {
    margin-top: 2px;
  }
}

.table-no-border {
  margin-left: -$table-cell-padding;
  margin-right: -$table-cell-padding;

  > thead > tr > th,
  > thead > tr > td,
  > tbody > tr > th,
  > tbody > tr > td,
  > tfoot > tr > th,
  > tfoot > tr > td {
    border-top: 0;
  }
}

.table-sm {
  font-size: $font-size-sm;

  > thead > tr > th,
  > thead > tr > td,
  > tbody > tr > th,
  > tbody > tr > td,
  > tfoot > tr > th,
  > tfoot > tr > td {
    padding: 4px;
  }

  &.table-no-border {
    margin-left: -4px;
    margin-right: -4px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 300;
}

.small,
small {
  font-size: 85%;
}

///////// Buttons //////////

.btn-link {
  &:focus {
    box-shadow: none;
  }
}

.btn-secondary {
  border-color: $gray-400;
  color: $gray-800;
}

.btn-success,
.btn-info,
.btn-warning,
.btn-inverse {
  color: $white;

  &:hover {
    color: $white;
  }
}

.btn-gray {
  border-color: $gray-400;
  color: $gray-700;
}

.btn-default {
  border-color: $gray-300;
  color: $gray-800;
}

.btn-inverse {
  border-color: $gray-800;
}

.btn-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.btn-secondary.active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn {
  font-family: $font-family-sans-serif;

  .glyphicon {
    top: 3px;
  }
}

.btn,
.btn-inverse,
.btn-gray {
  &:not(.active) {
    box-shadow: none !important;
  }
}

.btn-sm {
  padding-top: 0.35rem;
  padding-bottom: 0.35rem;
}

.btn-rounded {
  @include border-radius(6px);
}

.btn-outline {
  @include button-variant($white, transparent, $white);

  &:hover,
  &:focus {
    background-color: rgba($white, 0.1);
  }
}

///////// Dropdowns //////////

.dropdown-menu {
  font-size: $font-size-mini;
}

.nav-item.dropdown {
  .nav-link {
    height: 100%;
  }

  &.show {
    .nav-link {
      background-color: $gray-300;
      color: $gray-700;
    }
  }
}

///////// Alerts //////////

.alert {
  button.close {
    font-size: 16px;
    text-shadow: none;
    opacity: 1;
    color: #aaa;
    outline: none;
    padding: 0;
    position: static;
  }
}

///////// Breadcrumbs //////////

.breadcrumb {
  color: $gray-600;
  margin-bottom: 1.5rem;
  margin-top: 0;
  font-size: $font-size-sm;

  > .active {
    font-weight: $font-weight-semi-bold;
  }

  padding: 0;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: ">";
  color: $gray-600;
}

///////// Glyphicons //////////

.glyphicon {
  vertical-align: middle;
}

///////// Font Awesome //////////

.navbar {
  .fa {
    &.fa-lg {
      line-height: 19px;
    }
  }
}

///////// Tooltips //////////

.bs-tether-target.show {
  display: inline-block !important;
}

///////// Base Elements //////////

.navbar-notifications {
  .list-group-item:hover {
    .progress {
      background: $white;
    }
  }
}

///////// List Group //////////

.list-group {
  .list-group-item {
    background-color: transparent;
  }
}

////////// Headings //////////

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  small,
  .small {
    font-weight: $font-weight-thin;
    font-size: 75%;
    color: $text-muted;
  }
}

// Popovers

.popover {
  border: none;

  @include box-shadow(none);
}

.popover-content {
  padding: 20px;
}

// Modal

.modal-body {
  background: $gray-200;
}

// Navs
// --------------------------------------------------

.nav-tabs {
  &.nav-item + .nav-item {
    margin-left: 0;
  }

  border-bottom: none;
  background-color: $gray-300;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;

  > .nav-item {
    margin-bottom: -2px;

    > .nav-link {
      padding: 12px 18px;
      border: none;
      color: $text-muted;

      .label {
        margin-bottom: -2px;
      }

      @include transition(color 0.15s ease-in-out);

      &:hover {
        background-color: transparent;
        color: $text-color;
      }
    }

    .nav-link.open {
      &,
      &:hover,
      &:focus {
        background-color: $nav-tabs-active-link-hover-bg;
        color: $nav-tabs-active-link-hover-color;
      }
    }

    .nav-link.active {
      &,
      &:hover,
      &:focus {
        background-color: $nav-tabs-active-link-hover-bg;
        color: $nav-tabs-active-link-hover-color;
        border: none;

        @include box-shadow(1px 1px 2px #ccc);
      }
    }
  }
}

.tab-content {
  position: relative;
  z-index: 1;
  background-color: $white;

  > .tab-pane {
    padding: $spacer*2;
  }
}
