.container-fluid {
  padding-left: 30px;
  padding-right: 30px;
}

.navbar {
  border: none;
}

.progress-bar {
  @include box-shadow(none);
}

.progress-sm {
  height: 10px;
  margin-bottom: 10px;
}

.progress-xs {
  height: 5px;
  margin-bottom: 5px;
}

.breadcrumb {
  margin-top: -15px;
  font-size: $font-size-sm;

  > .active {
    font-weight: 600;
  }

  > li + li::before {
    color: $gray-light;
  }
}

@media (min-width: $grid-float-breakpoint) {
  .navbar-right {
    .dropdown-menu {
      left: 0;
    }
  }
}

.form-control {
  font-size: $font-size-base - 0.0625rem;
  box-shadow: none;
  transition: border-color ease-in-out 0.15s, background-color ease-in-out 0.15s;

  &:focus {
    box-shadow: none;
  }

  &.no-border {
    border: none;
    background-color: darken($input-bg, 5%);

    &:focus {
      background-color: darken($input-bg, 7%);
    }
  }
}

.input-sm {
  font-size: 13px;
}

.btn-inverse {
  @include button-variant($btn-inverse-color, $btn-inverse-bg, $btn-inverse-border);
}

.alert {
  font-size: $font-size-sm;

  .close {
    color: rgba(#000, 0.4);
  }
}

.alert-sm {
  padding: 10px 15px;

  .close {
    font-size: 20px;
    top: 0;
    right: -8px;
  }
}

.badge {
  font-size: 12px;

  .list-group-item > & {
    margin-top: 2px;
  }
}

.table-no-border {
  margin-left: -$table-cell-padding;
  margin-right: -$table-cell-padding;

  > thead > tr > th,
  > thead > tr > td,
  > tbody > tr > th,
  > tbody > tr > td,
  > tfoot > tr > th,
  > tfoot > tr > td {
    border-top: 0;
  }
}

.table-sm {
  font-size: $font-size-sm;

  > thead > tr > th,
  > thead > tr > td,
  > tbody > tr > th,
  > tbody > tr > td,
  > tfoot > tr > th,
  > tfoot > tr > td {
    padding: 4px;
  }

  &.table-no-border {
    margin-left: -4px;
    margin-right: -4px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 300;
}

///////// Glyphicons //////////

.glyphicon {
  vertical-align: middle;
}
