@import '../styles/app';

.root {
  :global(.container) {
    @media (min-width: 1200px) {
      max-width: 1440px;
    }
  }
}

.content {
  background-color: #FFFBF8 !important;
  padding: $navbar-height*2 0 0 0 !important;

  & :global(.widget) {
    box-shadow: none !important;
    background: transparent !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.header {
  position: fixed !important;
  width: 100vw;
  background-color: #fff !important;
  height: 80px !important;
  box-shadow: 0 0 10px rgba(0,0,0,.2);
}

.sidebar {
  border-right: 0;
  background: transparent;
  position: relative;
  width: auto;

  > ul {
    padding-top: 0;
  }

  & :global(a) {
    font-weight: 400 !important;

    &[aria-current="page"] {
      color: theme-color('warning') !important;
    }
  }

  & :global(.link-wrapper) {
    > a > span {
      display: none !important;
    }

    > a {
      padding-left: 25px !important;
      font-weight: 600 !important;
    }
  }
}

.activeScrollSpy > a {
  color: theme-color('warning') !important;
}
