@import '../../styles/app';

.root {
  height: 100%;
  position: relative;
  left: 0;
  transition: left 0.3s ease-in-out;

  &.chatOpen{
    left: -254px;
  }
}

.wrap {
  min-height: 100%;
  position: absolute;
  left: 0;
  right: 0;

  @media (min-width: $screen-sm-min) {
    left: $sidebar-width-open;
    right: 0;
  }
}

.sidebarOpen .wrap{
  left: $sidebar-width-closed;
}

.content {
  min-height: 100%;
  // 20px for footer height
  padding: #{$navbar-height + $content-padding-vertical} $content-padding-horizontal ($content-padding-vertical + 20px);
  background-color: $body-bg;
}