@import '../../../../styles/app';

.productCard {
  margin-bottom: 65px;
}

.productCardPhoto {
  width: 100%;
  height: 320px;
  background-position: center;
  background-size: cover;
  position: relative;

  .lable {
    position: absolute;
    left: 0;
    top: 15px;
    padding: 1px 11px;
    color: #fff;

    &--red {
      background-color: theme-color('danger');
    }

    &--green {
      background-color: theme-color('success');
    }
  }

  .star {
    position: absolute;
    right: 15px;
    top: 12px;
    padding: 5px;
    border-radius: 50%;
    border: none;
    background: #fff;
    display: flex;

    &:hover {
      cursor: pointer;
    }

    &:focus {
      outline: none;
    }

    img {
      height: 15px;
      width: 15px;
    }
  }
}

.productsCardTitle {
  text-transform: uppercase;
  margin-top: 15px;
  letter-spacing: 0.1px;
  font-weight: $font-weight-normal;
  color: theme-color('dark');
}

.productsCardDescription {
  text-transform: capitalize;
  color: theme-color('inverce');
  margin: 1.5px 0;
}

.productsCardPrice {
  display: flex;
  font-size: $font-size-larger;
  font-weight: $font-weight-semi-bold;
  align-items: center;
  justify-content: space-between;

  .sale {
    font-weight: $font-weight-normal;
  }

  .old {
    color: #ccc;
    position: relative;
    margin-right: 15px;

    &::before {
      content: '';
      width: 100%;
      height: 1px;
      left: 0;
      bottom: 0;
      transform: translateY(-10px);
      background-color: #ccc;
      position: absolute;
    }

    &::after {
      content: '';
      bottom: 2px;
      position: absolute;
      width: 1px;
      height: 15px;
      background-color: #666;
      margin: 0 7.5px;
    }
  }

  .new {
    color: theme-color('danger');
    font-weight: $font-weight-semi-bold;
  }

  & :global .rating {
    flex-direction: row-reverse;

    svg {
      margin-right: 7.5px;
    }
  }
}
