@import '../../styles/app';

/*          NEWS LIST          */
:global {
  .news-list {
    margin-bottom: 0;
    padding-left: 0;

    li {
      list-style: none;
      box-sizing: content-box;
      border-top: 1px solid $gray-200;
      padding: 12px;
      cursor: pointer;

      @include transition(background-color 0.2s ease-out);

      &:hover {
        background: $body-bg-light;
      }

      &:last-child {
        margin-bottom: -10px;
      }
    }

    img,
    .icon {
      float: left;
      height: 50px;
      width: 50px;
    }

    .icon {
      line-height: 50px;
      border-radius: 50%;
      text-align: center;
      font-size: 28px;

      .fa {
        vertical-align: baseline;
      }
    }

    .news-item-info {
      margin-left: 62px; /* 50 + 12px padding */
    }

    .name {
      text-transform: uppercase;

      a {
        text-decoration: none;

        &:hover {
          color: $link-color;
        }
      }
    }
  }
}

.react-grid-layout {
  position: relative;
  width: 100%;
  transition: height 200ms ease;
}
.react-grid-item {
  transition: all 200ms ease;
  transition-property: left, top;
}
.react-grid-item.cssTransforms {
  transition-property: transform;
}
.react-grid-item.resizing {
  z-index: 1;
  will-change: width, height;
}

.react-grid-item.react-draggable-dragging {
  transition: none;
  z-index: 3;
  will-change: transform;
}

.react-grid-item.dropping {
  visibility: hidden;
}

.react-grid-item > .react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 0;
  right: 0;
  cursor: se-resize;
}

.react-grid-item > .react-resizable-handle::after {
  content: "";
  position: absolute;
  right: 3px;
  bottom: 3px;
  width: 5px;
  height: 5px;
  border-right: 2px solid rgba(0, 0, 0, 0.4);
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
}

/*          SHARES LIST          */
:global {
  .shares-widget {
    :global {
      .list-group {
        .list-group-item {
          display: flex;
          align-items: center;
        }
      }
    }
  }
}

.custom-gray-bg {
  background-color: #495057;
}