@import '../../styles/app';

.navbar {
  background: $white;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 0;
  padding-bottom: 0;
  font-size: $navbar-font-size;
  font-weight: 500;
}

.navLink {
  color: $text-color;

  &:hover {
    color: $navbar-dashboard-link-hover-color;
  }
}

.avatar {
  width: 30px;
  margin-top: -5px;
  margin-right: 5px;
  margin-left: 5px;
}

.dropdownNotifications {
  padding-bottom: 0;
}
