@import '../../styles/app';

.navbar {
  background: $white;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 0;
  padding-bottom: 0;
  font-size: $navbar-font-size;
  font-weight: 500;
}

.nav {
  margin-left: 10px;
  margin-right: 1rem;

  .navLink {
    padding: 16px 0.5rem 1rem;

    .faTimes {
      font-size: 20px;
    }
  }
}

.navLink {
  color: $text-color;

  &:hover {
    color: $navbar-dashboard-link-hover-color;
  }
}

.navLg {
  z-index: 1;
  font-size: 16px;
}

.navbarForm {
  padding: 6px 0 6px 1rem;
  margin-left: 10px;

  .inputAddon {
    border: none;
    background-color: #fff;
    transition: background-color ease-in-out 0.15s;
  }

  input {
    font-size: 13px;
    border: none;
    padding: 0.6rem 0.85rem 0.6rem 0;
  }
}

.avatar {
  width: 30px;
  margin-top: -5px;
  margin-right: 5px;
  margin-left: 5px;
}

.dropdownNotifications {
  padding-bottom: 0;
}

.chatNotification {
  position: absolute;
  right: 12px;
  top: 35px;
  z-index: 20;
  margin-top: 3px;
  padding: 5px 0;
  cursor: pointer;

  &::before {
    content: ' ';
    position: absolute;
    top: 0;
    right: 18px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #343434;
  }

  .chatNotificationInner {
    min-width: 120px;
    padding: 8px;
    font-size: 12px;
    border-radius: 0.25rem;
    text-decoration: none;
    background-color: #343434;
    color: #fff;
  }

  .text {
    margin-top: 5px;
    margin-bottom: 0;
    color: $gray-light;
  }

  .title {
    margin: 0;
    font-weight: 600;
    line-height: 28px;
    font-size: 0.875rem;

    span {
      margin-right: 5px;
    }
  }
}

.navbarBrand {
  height: 60px;
  line-height: 30px;
  position: absolute;
  left: 0;
  right: 0;
  font-weight: 700;
  text-align: center;
  padding-top: 10px;
  font-size: 1.25rem;

  i {
    font-size: 10px;
  }
}
