@import '../../styles/app';

.root {
  width: $sidebar-width-open;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: $sidebar-bg-color;
  color: $sidebar-color;
}

.logo {
  margin: 11px 0 19px;
  height: $navbar-height;
  font-size: 18px;
  width: 100%;
  font-weight: 700;
  align-items: center;
  justify-content: center;
  display: flex;

  a {
    text-decoration: none;
    color: #fff;
  }
}

.nav {
  padding: 10px 0;
  overflow-y: auto;
}

.navTitle {
  margin: 35px 0 5px 11px;
  font-size: 14px;

  span {
    margin-right: 15px;
    margin-top: -1px;
    color: #aaa;
  }
}

.sidebarLabels {
  list-style-type: none;
  font-size: 13px;
  padding: 11px;
  padding-right: 15px;

  > li + li {
    margin-top: 7px;
  }

  li > a {
    color: #eee;
    text-decoration: none;
    font-weight: normal;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background-color: #5a6365;
  font-size: 13px;
}
