@import '../../styles/app';

.root {
  width: $sidebar-width-open;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: $sidebar-bg-color;
  color: $sidebar-color;
}

.logo {
  margin: 11px 0 19px;
  height: $navbar-height;
  font-size: 18px;
  width: 100%;
  font-weight: 700;
  align-items: center;
  justify-content: center;
  display: flex;

  a {
    text-decoration: none;
    color: #fff;
  }
}

.nav {
  padding: 10px 0;
  overflow-y: auto;
}

.navTitle {
  margin: 35px 0 5px 11px;
  font-size: 14px;
}

.actionLink {
  color: #aaa;
  float: right;
  margin-right: 15px;
  margin-top: -1px;
}

.labelName {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;

  @include media-breakpoint-up(lg) {
    transition: none;
    opacity: 1;
  }
}

.glyphiconSm {
  font-size: 9px;
}

.sidebarLabels {
  list-style-type: none;
  font-size: 12px;
  padding: 11px;
  padding-right: 15px;

  > li + li {
    margin-top: 7px;
  }

  li > a {
    color: #eee;
    text-decoration: none;
    font-weight: normal;
  }
}

.sidebarAlerts {
  font-size: 12px;
  transition: opacity 0.3s ease-in-out;
  opacity: 1;

  @include media-breakpoint-up(lg) {
    opacity: 1;
    transition: none;
  }
}

.sidebarAlert {
  background: transparent;
  margin-bottom: 0;
  padding: 0.5rem 11px;
  padding-right: 15px;
}

.sidebarProgress {
  background: lighten($sidebar-bg-color, 10%);
}
